@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
  @apply m-0 p-0 box-border;
  font-family: 'Kdam Thmor Pro', sans-serif;
}


main{
  @apply flex;
}


.login{
  @apply flex flex-col items-center w-full bg-gray-800 justify-between max-w-[500px] min-h-[100vh];
  padding: clamp(35px, 8%, 70px);
}
.wrapper{
  @apply flex flex-col items-center justify-center w-full;
  
}

.valveLogo{
  @apply mb-20 w-[130px];
}

.titulo{
  @apply font-bold text-[#b0c4de] text-[1.5em] mb-[30px]
}

.login_label{
  @apply block mb-5 w-full;
}

.login_label span{
  @apply absolute text-[0.8em] font-bold uppercase m-5 transition-all cursor-text text-[#b0c4de];

}

.login_input{
 
  @apply w-full  font-semibold bg-slate-700 border-2 rounded-md border-slate-400 text-sm pt-6 px-2.5 pb-2.5;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: 0;
  

  @apply focus:bg-red-600 focus:border-slate-900 


}

.login_label .login_spam{
  @apply my-2 mx-2.5 text-[0.7em];
}

.login-items{
  @apply flex gap-2.5 w-full mt-5 
}

.login-button{
  @apply w-4/12 flex items-center bg-blue-200 justify-center h-9 rounded-md cursor-pointer  border-2 hover:bg-red-600 hover:border-blue-200 transition-colors
}

.button-img{
  @apply w-5
}

.label-checkbox {
  @apply w-full mt-4 mx-0 mb-12 text-sm font-medium flex text-center text-zinc-300 font-bold;
}
.input-checkbox {
  @apply appearance-none w-4 h-4 bg-gray-300 mr-2 rounded checked:bg-red-600 cursor-pointer mb-16 transition-colors ;
}

.submit{
  @apply w-14 h-14 p-5 flex items-center bg-blue-200 rounded-[20px] cursor-pointer mb-14 hover:bg-red-600 checked:bg-red-600 transition-colors
}
.submit:disabled{
  @apply cursor-auto 
}


.login-link{
  @apply text-[#b0c4de] no-underline hover:text-red-600 font-normal hover:font-bold text-sm uppercase mb-1.5 transition-colors
}


.wallpaper {
  @apply w-full bg-cover bg-center flex-1;
  background-image: url('../../assets/bg3.png');
}